.idea/**
**.iml
.idea/compiler.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_33.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_7_4.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_25.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_7_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_5_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_3_2_8_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_3_2_8_RELEASE.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Jpa_OrdersSystem.iml
